
.VSsell{
    float: left;
    width: 100%;
}
#sell1{
    margin: 1em 1em 1em 1em;
}

#sell2 {
    margin: -5em 11em 0em 0em;
    float: right;
    padding: 1em 2em 1em 2em;
    background: goldenrod;
    border: -1em;
}
.VSsell2{
    float: left;
    width: 100%;
}
.VSell3{
    float: left;
    width: 100%;

}
#sell3 {
    padding: 0em 2em 0em 2em;
    background: chartreuse;
    margin: 1em 1em 1em 1em;
    width: 20%;
}
#sell4 {
    margin: 0em 0em 0em 1em;
    font-size: 64px;
    width: 25%;
}
#sell5 {
    margin: 1em 1em 1em 2em;
    font-size: 28px;
  width: 28%;
    color: brown;
}
#sell6 {
    margin: 0em 0em 1em 9em;
    padding: 1em 1em 1em 1em;
    background: deepskyblue;
    font-size: inherit;
}
.VSsell4{
    float: right;
    width: 100%;

}
#sell7 {
    margin: -30em 1em 0em 0em;
    float: right;
    background: white;
    width: 49%;
}
.VSsell5{
    float: left;
    width: 100%;
}
#sell8 {
    margin: 2em 0em 2em 1em;
    font-size: 61px;
    color: crimson;
}
.VSsell6{
    float: left;
    width: 100%;
}
.VSsell7{
    float: left;
    width: 100%;
}
#sell9 {
    margin: 1em 0em 0em 6em;
    width: 7%;
}
#sell10 {
    margin: 1em 1em 1em 1em;
    font-size: 38px;
    padding: 0em 0em 0em 0em;
    width: 27%;
}
#sell11 {
    margin: -1em 0em 0em 2em;
    font-size: 19px;
    padding: 0em 0em 0em 0em;
    width: 19%;
}


.VSsell8 {
    float: left;
    width: 100%;
    margin: 1em 1em 1em 4em;
}


#sell2 {
    margin: -22em 45em 3em 0em;
    width: 9%;
}

#sell13 {
    margin: -5em 0em 1em 11em;
    font-size: 38px;
    padding: 0em 0em 0em 0em;
    width: 18%;
}

#sell14 {
    margin: -1em 0em 0em 22em;
    font-size: 19px;
    padding: 0em 0em 0em 0em;
    width: 19%;
}

.VSsell9 {
    float: right;
    width: 100%;
    margin: -28em -58em 0em 0em;
}
 

  
#sell16 {
    margin: -1em 0em 0em 22em;
    font-size: 19px;
    padding: 0em 0em 0em 0em;
    width: 19%;
}


#sell17 {
    margin: -1em 0em 0em 0em;
    font-size: 19px;
    padding: 0em 0em 0em 0em;
    width: 19%;
}
#sell15 {
    margin: 4em 0em 0em -2em;
    width: 16%;
}
#sell16 {
    margin: 1em 0em 1em 0em;
    font-size: 36px;
}

.VSsell10{
    float: left;
    width: 100%;
}
#sell18 {
    margin: 2em 0em 0em 3em;
    font-size: 42px;
    padding: 1em 1em 0em 0em;
    width: 76%;
}

#sell19 {
    margin: 1em 0em 0em 3em;
    font-size: 38px;
    font-weight: 700;
}

#sell20 {
    margin: 0em 0em 0em 4em;
    font-size: 25px;
}
#sell21 {
    margin: 4em 0em 2em 14em;
    font-weight: 100;
}
.sell2 {
    margin: 1em 0em 1em 14em;
    padding: 0em 0em 0em 0em;
    width: 61%;
}
.VSsell11{
    float: left;
    width:100%;
}

#sell22 {
    margin: 1em 1em 1em 1em;
    font-size: 65px;
}

#sell23 {
    margin: 1em 0em 0em 3em;
    font-size: 23px;
    width: 32%;
}

#sell24 {
    margin: -16em 10em 0em 0em;
    float: right;
}